{% extends 'base.html.twig' %}
{% block titleSufix %}- Lista urządzeń{% endblock %}
{% block body %}
<style>
.list-group li:hover{
    background-border color:#0000ff;
    border color:white;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}
</style>
        {% block navbar %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('current_measure')}}">Pomiary bieżące <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{{path('current_chart')}}">Wykres</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('historic_data')}}">Dane historyczne</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('power_usage')}}">Wykorzystanie energii</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('overload_list')}}">Przekroczenia</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('settings_index')}}">Konfiguracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('data_logout')}}">Wyloguj</a>
                    </li>
                </ul> 
            </div>
        {% endblock %}
<div style='margin-left:2.5%; margin-top:3%; width:95% !important'>
    <center><h1> Lista urządzeń </h1></center>
    <div class='row'>
        <div class='border col-2' >Nazwa</div>
        <div class='border col-2' >Punkt uruchomienia[kW]</div>
        <div class='border col-2' >Punkt Ruchu[kW]</div>
        <div class='border col-2' >Przekroczenie[kW]</div>
        <div class='border col-2' >ID</div>
        <div class='border col-2' ></div>
    </div>
    <div class='row' id='content-box'>
        
    </div>
    <div class='row'>
        <div class='border col-2' ><input class='form-control' id="machine_name" name='machine_name' autocomplete="off"></div>        
        <div class='border col-2' ><input class='form-control' type='number' step="0.01" id="start_point" name='start_point' autocomplete="off"></div>        
        <div class='border col-2' ><input class='form-control' type='number' step="0.01" id="move_point" name='move_point' autocomplete="off"></div>        
        <div class='border col-2' ><input class='form-control' type='number' step="0.01" id="overload_power" name='overload_power' autocomplete="off"></div>        
        <div class='border col-2' ><input class='form-control' type='number' id="Id" name='Id' autocomplete="off"></div>        
        <div class='border col-2'>
            <button type='submit' data-url="{{path('settings_add')}}" id='btn-add' class='btn btn-success' style='width:100%;'>
                Dodaj
            </button>
        </div>
    </div>
<br/>
<div class='row'><h2> Kształt cyklu:</h2> </div>        

    <div class='row'><h3> Wybierz maszynę</h3></div>
    <div class='row border machines'>

    </div> 
    
    <div class='row'><h3> Wybierz zakres danych</h3></div>
    
    <div class='row'> <div class='col-1'>Od</div> <div class='col-10'><hr style='width:100%;'/></div><div class='col-1'>Do:</div></div>
    <div class='row'> <div class='col-2'><input id='startDate' type='datetime-local' value="T00:00" name='startDate'> </div> <div class='col-8'></div><div class='col-2'><input id='endDate' type='datetime-local' value="23:59" name='endDate'></div></div>
    
    
    <div class='row border'>
        <div class='row canvas-container' style='width:60%;margin-right:2%;'>
            <canvas  id='powerChart'></canvas>
        </div>
        <button style='height:80px; margin-top:10%;' id='setSequence' disabled class='btn border'>Ustaw kształt cyklu</button> 
        <div class='row tips'>
        </div>
    </div>
    <script src="http://178.19.96.101/InCurrent/app/public/js/charts/line/settingsTwig.js"></script>
    <script>
        edit_url = '{{path('settings_edit')}}';
        fetch_url = '{{path('settings_get_all')}}';
        delete_url = '{{path('settings_delete')}}';
        setSequence_url = '{{path('set_sequence')}}' ;
        fetch();
        function currents(id,start_point,move_point,overload_power)
        {
            _start_point = start_point;
            _move_point = move_point;
            _overload_power = overload_power;
            
            curr_machine_id = id;
            url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
            url = url.replace("machineId", curr_machine_id);
            url = url.replace("dateStart", $('#startDate').val());
            url = url.replace("dateStop", $('#endDate').val());
         if($('#startDate').val().length>0 && $('#endDate').val().length>0)
         {
            fetch_currents(url);
         }
        }
        
        $('.date').change(function(){
            if(curr_machine_id>0)
            {
                url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
                url = url.replace("machineId", curr_machine_id);
                url = url.replace("dateStart", $('#startDate').val());
                url = url.replace("dateStop", $('#endDate').val());
                if($('#startDate').val().length>0 && $('#endDate').val().length>0)
                {
                    fetch_currents(url);
                }
            }
        });
    </script>
{% endblock %}