<!DOCTYPE html>



<html>
    <head>
        <meta charset="UTF-8">
        <meta 
            name='viewport' 
            content='width=device-width, initial-scale=0.65, maximum-scale=1.5, user-scalable=0' 
        />
        <title>{% block title %}Diagnostyka prądowa{% block titleSufix %}{% endblock %} {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="http://178.19.96.101/InCurrent/app/public/css/charts/Chart.css" >
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <style>
            
            *{
                font-family: 'Poppins', sans-serif;
            }
            div
            {
                word-break: break-word;
            }
            div div
            {
                padding-top:20px;
                padding-bottom:20px;
                padding-left:0px;
                padding-right:0px;
            }
            button
            {
                padding-top:10px !important;
                padding-bottom:10px !important;
            }
            input
            {
                padding-top:25px !important;
                padding-bottom:25px !important;
            }
            li a
            {
                font-size:18px;
            }
            .activeMachine{
                background:#696969;
                color:#fff;
            }
            </style>
        	<link rel="icon" type="image/png" href="http://ecom-systems.eu/projects/InCurrent/app/public/images/icons/favicon.png"/>

        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% if app.session.get('apiKey')|length < 1%}
                <script>
                    window.location.replace('{{path('login_view')}}');            
                </script>
            {% endif %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="http://ecom-systems.eu/projects/InCurrent/app/public/images/icons/favicon.png" style="width:70px; margin-right:5px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% block navbar %}
        
        {% endblock %}
            </nav>
        {% endblock %}

        {% block alert %}
            <div style='display:none;position:fixed;top:0px;width:100%;' class="alert" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            </div>
        {% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
        	<script src="http://178.19.96.101/InCurrent/app/public/js/gauge.min.js"> </script>
        	<script src="http://178.19.96.101/InCurrent/app/public/js/charts/Chart.js"></script>
        	<script src="http://178.19.96.101/InCurrent/app/public/js/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script>
                var loadingCard = `
                    <div class="card">
                        <div class="card-body" style='position:fixed; top:10%; left:25%; width:50%;'>
                            <img style='width:100%;' src="http://localhost/telein/incurrent/app/public/images/icons/loading.gif">
                        </div>
                    </div>
                `;
            
                function showMessage(content, type)
                {   
                    $('.alert').removeClass('alert-success');
                    $('.alert').removeClass('alert-warning');
                    $('.alert').removeClass('alert-danger');

                    $('.alert').addClass('alert-'+type);
                    $('.alert').show('slow');
                    $('.alert-heading').text(content);
                    setTimeout(function(){$('.alert').hide('slow')},1500);
                }
               
            </script>
        {% endblock %}
        
        {% block body %}
        
        {% endblock %}
    </body>
</html>
