{% extends 'base.html.twig' %}
{% block titleSufix %} - Pomiary bieżace{% endblock %}
{% block body %}
<style>
canvas{
    margin-left:5%;
    width:90%;
}
.list-group li:hover{
    background-color:#cccccc;
    color:white;
    cursor: crosshair;
}
.list-group li{
    background-color:#ffffff;
    color:black;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}
</style>
        {% block navbar %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('current_measure')}}">Pomiary bieżące <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{{path('current_chart')}}">Wykres</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('historic_data')}}">Dane historyczne</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('power_usage')}}">Wykorzystanie energii</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('overload_list')}}">Przekroczenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('settings_index')}}">Konfiguracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('data_logout')}}">Wyloguj</a>
                    </li>
                </ul> 
            </div>
        {% endblock %}
<div style='margin-left:2.5%; margin-top:3%; width:95% !important'>
    <center><h1> Pomiary bieżace</h1></center><br/>
    <h2> Wybierz maszynę</h2>

    <div class='row border machines'>
       
    </div>
    <div class='row border d-none gaugs'>
        <div class='col border'><div class='row' id='avg_val'></div><canvas id='gauge-average'></canvas><div class='row'>MOC ŚREDNIA(KW)</div></div>
        <div class='col border'><div class='row' id='wktm_val'></div><canvas class='row' id='gauge-work-time'></canvas><div class='row'></div>CZAS PRACY</div>
        <div class='col border'><div class='row' id='mvtm_val'></div><canvas class='row'  id='gauge-move-time'></canvas><div class='row'></div>CZAS RUCHU</div>
        <div class='col border'><div class='row' id='sqct_val'></div><canvas class='row' id='gauge-sequence-count'></canvas><div class='row'></div>CYKLE</div>
    </div>

</div>
<script src="http://178.19.96.101/InCurrent/app/public/js/charts/gauge/currentTwig.js">
</script>
<script>
    fetch('{{path('settings_get_all')}}');
    function currents(id){
         url = '{{path('current_data', {'machineId':'machineId'})}}';
         url = url.replace("machineId", id);
        getCurrents(url);
    };
</script>
{% endblock %}