{% extends 'base.html.twig' %}
{% block titleSufix %} - Wykres {% endblock %}
{% block body %}
<style>
.list-group li:hover{
    background-color:#cccccc;
    color:white;
    cursor: crosshair;
}
.list-group li{
    background-color:#ffffff;
    color:black;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}

</style>
        {% block navbar %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('current_measure')}}">Pomiary bieżące <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link"  href="{{path('current_chart')}}">Wykres</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('historic_data')}}">Dane historyczne</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('power_usage')}}">Wykorzystanie energii</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('overload_list')}}">Przekroczenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('settings_index')}}">Konfiguracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('data_logout')}}">Wyloguj</a>
                    </li>
                </ul> 
            </div>
        {% endblock %}
<div style='margin-left:2.5%; margin-top:3%; width:95% !important'>
    <center><h1>Wykres</h1></center><br/>
    <h2> Wybierz maszynę</h2>
    <div class='row border machines'>
     
    </div>
    <div class='row border d-none line'>
        <canvas id='powerChart'></canvas>
    </div>

</div>
<script src="http://178.19.96.101/InCurrent/app/public/js/charts/line/chartTwig.js"></script>
<script>
    fetch('{{path('settings_get_all')}}');

    function currents(id)
    {
         now = new Date();
         twoHoursAgo = new Date(now.getTime()-7200000);

         url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
         url = url.replace("machineId", id);
         url = url.replace("dateStart", twoHoursAgo.toLocaleString());
         url = url.replace("dateStop", now.toLocaleString());
         
         getCurrents(url);
    }
</script>
{% endblock %}