{% extends 'base.html.twig' %}
{% block titleSufix %} - Dane historyczne {% endblock %}
{% block body %}
<style>
.list-group li:hover{
    background-color:#cccccc;
    color:white;
    cursor: crosshair;
}
.list-group li{
    background-color:#ffffff;
    color:black;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}
</style>
        {% block navbar %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('current_measure')}}">Pomiary bieżące <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{{path('current_chart')}}">Wykres</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('historic_data')}}">Dane historyczne</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('power_usage')}}">Wykorzystanie energii</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('overload_list')}}">Przekroczenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('settings_index')}}">Konfiguracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('data_logout')}}">Wyloguj</a>
                    </li>
                </ul> 
            </div>
        {% endblock %}
<div style='margin-left:2.5%; margin-top:3%; width:95% !important'>
    <center><h1> Dane historyczne</h1></center><br/>
    <div class='row'><h2> Wybierz maszynę</h2></div>
    <div class='row border machines'>
        
</div> 
    <div class='row'> <h3>Wybierz zakres danych:</h3> </div>        
    <div class='row'> <div class='col-1'>Od</div> <div class='col-10'><hr style='width:100%;'/></div><div class='col-1'>Do:</div></div>
    <div class='row'> <div class='col-2'><input id='startDate' type='datetime-local' value="T00:00" name='startDate'> </div> <div class='col-8'></div><div class='col-2'><input id='endDate' type='datetime-local' value="T23:59" name='endDate'></div></div>
    <div class='row'> Moc średnia: <b id='avg_val'></b></div>
    <div class='row'>Czas pracy:  <b id='wktm_val'></b> </div>
    <div class='row'>Czas ruchu : <b id='mvtm_val'></b> </div>
    <div class='row'>Ilośc cykli: <b id='sqct_val'></b></div>

    <div class='line d-none row border canvas-container'>
        <canvas id='powerChart'></canvas>
    </div>
</div>
</div>
<script src="http://178.19.96.101/InCurrent/app/public/js/charts/line/historicTwig.js"></script>
<script>
    
    fetch('{{path('settings_get_all')}}');
    var id
    function currents(id)
    {
         move_point = machines[id]['move_point']
		 start_point = machines[id]['start_point']
		 overload_power = machines[id]['overload_power']
         url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
         url = url.replace("machineId", id);
         url = url.replace("dateStart", $('#startDate').val());
         url = url.replace("dateStop", $('#endDate').val());
         if($('#startDate').val().length>0 && $('#endDate').val().length>0 && id >= 0)
         {
            getCurrents(url);
         }
    }
    $('#startDate').change(function(){
         url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
         url = url.replace("machineId", id);
         url = url.replace("dateStart", $('#startDate').val());
         url = url.replace("dateStop", $('#endDate').val());
         if($('#startDate').val().length>0 && $('#endDate').val().length>0 && id >= 0)
         {
            getCurrents(url);
         }
    });
     $('#endDate').change(function(){
         url = '{{path('data_machine_by_date_range', {'machineId':'machineId','dateStart':'dateStart','dateStop':'dateStop'})}}';
         url = url.replace("machineId", id);
         url = url.replace("dateStart", $('#startDate').val());
         url = url.replace("dateStop", $('#endDate').val());
         if($('#startDate').val().length>0 && $('#endDate').val().length>0 && id >= 0)
         {
            getCurrents(url);
         }
    });
        
</script>
{% endblock %}