{% extends 'base.html.twig' %}
{% block titleSufix %} - Przekroczenia {% endblock %}
{% block body %}
<style>
.list-group li:hover{
    background-color:#cccccc;
    color:white;
    cursor: crosshair;
}
.list-group li{
    background-color:#ffffff;
    color:black;
}
col-2{
    text-align: center;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}
</style>
        {% block navbar %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('current_measure')}}">Pomiary bieżące <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{{path('current_chart')}}">Wykres</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('historic_data')}}">Dane historyczne</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('power_usage')}}">Wykorzystanie energii</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('overload_list')}}">Przekroczenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('settings_index')}}">Konfiguracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('data_logout')}}">Wyloguj</a>
                    </li>
                </ul> 
            </div>
        {% endblock %}
<div style='margin-left:2.5%; margin-top:3%; width:95% !important'>
    <center><h1> Przekroczenia maksymalnego poziomu mocy</h1></center>
    
    <div class='row'> <h2>Wybierz zakres danych: </h2></div>        
    <div class='row'> <div class='col-1'>Od</div> <div class='col-10'><hr style='width:100%;'/></div><div class='col-1'>Do:</div></div>
    <div class='row'> <div class='col-2'><input id='startDate' type='datetime-local' value="00:00" name='startDate'> </div> <div class='col-8'></div><div class='col-2'><input id='endDate' type='datetime-local' value="23:59" name='endDate'></div></div>    
    
    <div class='row'> <h2>Sumy czasów przekroczeń[h]: </h2></div>        

    <div class='col-12 rows line d-none'>
      
            
    </div>
     <div class='row'> <h3>Lista przekroczeń: </h3></div>        
        <div class='row border d-none list'> 
        
    </div>   
</div>
<script src="http://178.19.96.101/InCurrent/app/public/js/charts/line/overload.js"></script>
<script>
    $('input').change(function(){
         url = '{{path('data_all_machine_by_date_range', {'dateStart':'dateStart','dateStop':'dateStop'})}}';
        
         if($('#startDate').val().length>0 && $('#endDate').val().length>0)
         {
            url = url.replace("dateStart", $('#startDate').val());
            url = url.replace("dateStop", $('#endDate').val());
            getCurrents(url);
         }
    });


</script>
{% endblock %}